nifi/templates/postgreSQL_query.json
{"flowContents":{"identifier":"950bf691-bfdb-3863-95d4-cd7029d52540","instanceIdentifier":"9d784fb3-019a-1000-95e5-e9decc359a42","name":"postgreSQL query","comments":"","position":{"x":-2752.0,"y":-280.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e587b449-bd3a-352b-bb3f-9fa83766739f","instanceIdentifier":"9d78a740-019a-1000-b5f4-e4a6e0779473","name":"GenerateFlowFile","comments":"","position":{"x":-46.49988653418768,"y":-176.166579558967},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","nifi.sql.query":"SELECT \n    municipios_df.regiao,\n    ano_mes_df.mes,\n    cid_df.subcat,\n    cid_df.descricao,\n    SUM(sia_df.pa_qtdapr) AS procedimentos,\n    SUM(sia_df.pa_valapr) AS valor\nFROM sia_df\nJOIN municipios_df \n    ON sia_df.pa_ufmun::INTEGER = (municipios_df.id_municipio / 10)\nJOIN ano_mes_df\n    ON RIGHT(sia_df.pa_cmp, 2) = ano_mes_df.mes\nJOIN cnes_df\n    ON sia_df.pa_coduni::VARCHAR = cnes_df.co_cnes\nJOIN sigtap_proced_df\n    ON sia_df.pa_proc_id = sigtap_proced_df.codigo\nJOIN cid_df\n    ON sia_df.pa_cidpri = cid_df.subcat\nJOIN sexo_df\n    ON sia_df.pa_sexo = sexo_df.pa_sexo\nJOIN raca_cor_df \n    ON LPAD(sia_df.pa_racacor, 2, '0') = raca_cor_df.pa_racacor\nWHERE cnes_df.no_razao_social ILIKE '%UNIDADE BASICA%'\n  AND ano_mes_df.mes IN ('01', '02', '03', '04')\n  AND sexo_df.sexo_desc = 'Masculino'\n  AND raca_cor_df.racacor_desc = 'PRETA' \nGROUP BY \n    municipios_df.regiao,\n    ano_mes_df.mes,\n    cid_df.subcat,\n    cid_df.descricao\nORDER BY \n    municipios_df.regiao ASC,\n    ano_mes_df.mes ASC,\n    SUM(sia_df.pa_valapr) DESC;\n","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"nifi.sql.query":{"name":"nifi.sql.query","displayName":"nifi.sql.query","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"99999999999999 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"950bf691-bfdb-3863-95d4-cd7029d52540"},{"identifier":"2de4627a-3412-3553-88bd-c8a33cac89e9","instanceIdentifier":"9d791e2e-019a-1000-2cb6-ffc39b8e6d45","name":"LogAttribute","comments":"","position":{"x":-40.0,"y":328.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"950bf691-bfdb-3863-95d4-cd7029d52540"},{"identifier":"0b672cb1-aaf0-365f-8780-6ca71b2345fa","instanceIdentifier":"9d78f376-019a-1000-b1bc-0d9dc99d107f","name":"ExecuteSQLRecord","comments":"","position":{"x":-40.0,"y":96.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"56e1706c-5ad1-3e7c-9efb-77218c10255a","dbf-default-precision":"10","Max Wait Time":"5 min","SQL Query":"${nifi.sql.query}","Database Connection Pooling Service":"88ac2230-3cee-3938-a316-cc51cf0caefa","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"950bf691-bfdb-3863-95d4-cd7029d52540"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"5b289938-6f9b-3885-b27a-685b3e910d0d","instanceIdentifier":"9d7c686d-019a-1000-ca6a-14593441f2b5","name":"","source":{"id":"e587b449-bd3a-352b-bb3f-9fa83766739f","type":"PROCESSOR","groupId":"950bf691-bfdb-3863-95d4-cd7029d52540","name":"GenerateFlowFile","comments":"","instanceIdentifier":"9d78a740-019a-1000-b5f4-e4a6e0779473"},"destination":{"id":"0b672cb1-aaf0-365f-8780-6ca71b2345fa","type":"PROCESSOR","groupId":"950bf691-bfdb-3863-95d4-cd7029d52540","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"9d78f376-019a-1000-b1bc-0d9dc99d107f"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"950bf691-bfdb-3863-95d4-cd7029d52540"},{"identifier":"04906927-e56a-347a-97f9-07663dd06490","instanceIdentifier":"9d795f37-019a-1000-eafe-18a36503a36f","name":"","source":{"id":"0b672cb1-aaf0-365f-8780-6ca71b2345fa","type":"PROCESSOR","groupId":"950bf691-bfdb-3863-95d4-cd7029d52540","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"9d78f376-019a-1000-b1bc-0d9dc99d107f"},"destination":{"id":"2de4627a-3412-3553-88bd-c8a33cac89e9","type":"PROCESSOR","groupId":"950bf691-bfdb-3863-95d4-cd7029d52540","name":"LogAttribute","comments":"","instanceIdentifier":"9d791e2e-019a-1000-2cb6-ffc39b8e6d45"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"950bf691-bfdb-3863-95d4-cd7029d52540"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"56e1706c-5ad1-3e7c-9efb-77218c10255a","instanceIdentifier":"9d8708e0-019a-1000-f56b-71c7eeec46de","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"950bf691-bfdb-3863-95d4-cd7029d52540"},{"identifier":"88ac2230-3cee-3938-a316-cc51cf0caefa","instanceIdentifier":"9d80007d-019a-1000-3b5e-d42aba9a7418","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.6.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"5 min","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":"SELECT 1\n","Database Connection URL":"jdbc:postgresql://localhost:5432/tcc","dbcp-time-between-eviction-runs":"-1","Database User":"sus","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/lib/postgresql-42.7.4.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"950bf691-bfdb-3863-95d4-cd7029d52540"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}